/* ========================= */
/*      GLOBAL STYLES        */
/* ========================= */
body {
  margin: 0;
  background: #6c7a99;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #e9e9e9;
}

header {
  background: #151821;
  padding: 20px;
  text-align: center;
  color: #78a0ff;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 2px solid #222631;
}

.container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

/* ========================= */
/*       BUTTONS            */
/* ========================= */

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  font-weight: 600;
  margin-right: 10px;
}

.btn.primary {
  background: #347dff;
  color: white;
}
.btn.primary:hover {
  background: #1c64db;
}

.btn.success {
  background: #1db954;
  color: white;
}
.btn.success:hover {
  background: #169945;
}

.btn.danger {
  background: #e04343;
  color: white;
}
.btn.danger:hover {
  background: #c23636;
}

/* ========================= */
/*          CARD             */
/* ========================= */

.card {
  background: #151821;
  padding: 25px;
  border-radius: 12px;
  margin-top: 20px;
  border: 1px solid #1f2330;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

/* ========================= */
/*          TABLE            */
/* ========================= */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background: #1d2230;
}

thead th {
  font-size: 14px;
  padding: 12px;
  text-align: left;
  color: #7aa2ff;
  border-bottom: 2px solid #252a3b;
}

tbody tr {
  border-bottom: 1px solid #2a2f3f;
}

tbody tr:hover {
  background: #1c202d;
}

td {
  padding: 12px;
  font-size: 14px;
}

input[type="text"], input[type="url"], input[type="number"] {
  width: 95%;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #2a2f3f;
  background: #0f1116;
  color: #e9e9e9;
}

input[type="checkbox"] {
  transform: scale(1.4);
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 13px;
  color: #6c7a99;
}
